# Banco de Dados (Prisma)
DATABASE_URL="postgresql://postgres:1234@localhost:5432/boleiaBD?schema=public"

# Porta do servidor
PORT=3333

# Chave secreta para autenticação (se necessário)
JWT_SECRET=03c29bda-de19-4f53-8f1b-b9cf46e57164


EMAIL_USER=oliveirajoel2001@gmail.com
EMAIL_PASS=qcmg ezsh ehgt vypr

FRONTEND_URL=http://localhost:3000
